@use 'variables';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", serif;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-block-size: 100vh;
}

img,
picture {
    max-inline-size: 100%;
    block-size: auto;
}



button {
    padding-block: 1rem;
    padding-inline: 2.5rem;
    border-radius: 1.8rem;
    border: none;
    @include mixins.text-preset-5;
    font-weight: 900;
    color: variables.$white;

    span {
        color: variables.$cyan-300;
    }

}


.number {
    @include mixins.text-preset-5;
    display: grid;
    justify-content: center;
    grid-template-rows: auto 3.5rem;
    position: relative;
    block-size: 8.5rem;
    font-weight: 900;
    color: variables.$slate-600;
    .vertical-line {
        justify-self: center;
        width: 1px;
        background-color: variables.$slate-300;
    }

    .circle {
        display: grid;
        place-items: center;
        inline-size: 3.5rem;
        block-size: 3.5rem;
        outline: 1px solid variables.$slate-300;
        border-radius: 50%;
    }
}
