@use 'variables';
@use 'mixins';


.footer {
    position: relative;
    display: flex;
    inline-size: 100%;
    flex-direction: column;
    text-align: center;


    .number {
        z-index: 999;
        margin-bottom: -28px
    }

    &__hero {
        position: relative;
        block-size: clamp(312px, calc(500px - 30vw), 374px);
        background-image: url(../assets/mobile/image-footer.jpg);
        background-size: cover;
        background-position: center;



        &__bg-color {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: variables.$cyan-600;
            opacity: 80%;
        }

        .content {
            position: relative;
            z-index: 999;
            block-size: 100%;
            display: grid;
            max-inline-size: 70rem;
            place-items: center;
            margin: 0 auto;
            gap: 1.5rem;
            padding-block: clamp(1rem, 1rem + 5vw, 2rem);


            @media (width > 76rem) {
                grid-template-columns: 445px 355px auto;
                text-align: start;

                button {
                    margin-inline-start: auto
                }
            }
        }

        .title {
            @include mixins.text-preset-2;
            font-weight: 900;
            color: variables.$white;
        }

        .text {
            @include mixins.text-preset-4;
            color: variables.$white;
            max-inline-size: 48ch;
        }

        button {
            background-color: variables.$purple-600;

            &:hover {
                background-color: variables.$purple-hover;
                cursor: pointer;

                * {
                    background-color: variables.$purple-hover;

                }
            }
        }

    }


}