@use 'variables';
@use 'mixins';

.hero {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-block-start: 4rem;
    padding-block-end: 2rem;
    row-gap: clamp(3rem, 3rem + 5vw, 4.5rem);
    overflow-x: hidden;

    &__img-container {
        /*         inline-size: 115vw;
        transform: translateX(-7.5vw); */
        display: flex;
        justify-content: center;
        max-block-size: 19rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-inline: 2rem;
        text-align: center;
        max-inline-size: 28rem;

        h1 {
            @include mixins.text-preset-2;
            font-weight: 900;
            max-width: 10ch;
            color: variables.$slate-900;
        }

        h2 {
            @include mixins.text-preset-4;
            font-weight: 400;
            color: variables.$slate-600;
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        inline-size: 100%;
        max-inline-size: 23rem;

        :nth-child(1) {
            background-color: variables.$cyan-600;
        }

        :nth-child(2) {
            background-color: variables.$purple-600;
        }
    }
}