@use 'mixins';
@use 'variables';

.main {
    display: grid;
    place-items: center;
    margin-inline: clamp(0rem,0rem + 5vw, 2rem);
    padding-block-start: 2rem;
    padding-block-end: 4rem;
    gap: 4rem;



    &__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        img {
            border-radius: 0.5rem;
        }
    }

    &__text-content {
        text-align: center;
        display: grid;
        place-items: center;
        gap: 2rem;

        &__title {
            display: grid;
            place-items: center;
            gap: 1rem;

            .small-title {
                @include mixins.text-preset-3;
                text-transform: uppercase;
                color: variables.$cyan-600;
                font-weight: 800;
            }

            .big-title {
                @include mixins.text-preset-2;
                font-weight: 900;
            }

        }



        .text {
            @include mixins.text-preset-4;
            font-weight: 700;
            color: variables.$slate-600;
        }
    }
}