@use 'mixins';
@use 'variables';

.main {
    display: grid;
    place-items: center;
    margin-inline: clamp(0rem, 0rem + 5vw, 2rem);
    padding-block-start: clamp(2rem, 0.75rem + 5vw, 3.5rem);
    padding-block-end: clamp(4rem, 1.5rem + 5vw, 4.5rem);
    gap: 4rem;



    &__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(0.2rem, 0.2rem + 3vw, 2rem);



        img {
            border-radius: 0.5rem;
            inline-size: clamp(5rem, 5rem + 15vw, 256px);


            &:hover {
                transform: scale(1.025);

                transition: all 100ms ease-out;
            }
        }

        @media (width > 30rem) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__text-content {
        text-align: center;
        display: grid;
        place-items: center;
        gap: 2rem;
        max-inline-size: 34rem;


        &__title {
            display: grid;
            place-items: center;
            gap: 1rem;
            max-inline-size: 28rem;


            .small-title {
                @include mixins.text-preset-3;
                text-transform: uppercase;
                color: variables.$cyan-600;
                font-weight: 800;
            }

            .big-title {
                @include mixins.text-preset-2;
                font-weight: 900;
                color: variables.$slate-900;
            }

        }



        .text {
            @include mixins.text-preset-4;
            font-weight: 700;
            color: variables.$slate-600;
        }
    }
}